* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background: #f2f2f2;
	overflow: auto;
}

h1{
	text-align: center;
	margin: 10%;
	font-size: 3rem;
	text-decoration: underline;
}

ul {
	text-align: left;
	padding-left: 10%;
	padding: 7%;
	font-size: 2rem;
	list-style: circle;
}

li:hover{
	color:rgb(0, 0, 0);
    transform: translateX(10px);
    transition-duration: 0.3s;
	cursor: pointer;
}

